.leftspace{
    width:100%;
   
}

.combo{
    border:1px solid rgb(38, 114, 255);
}

.searchIcon{
    position: absolute;
    top:37px;
}

.ICON_box{
    width:105.7%;
    position: relative;
    right: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container lightning-helptext {
    margin-left: 0.5rem; /* Adjust the spacing as needed */
}

lightning-helptext{
    position: absolute;
    left: 200px;
    top: 0px;
}