.THIS {
    background: #fff;
}

.THIS .circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 6px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    display: inline-block;
    font: 11px Arial, sans-serif;
}
.THIS .idle {
    background: #D3D3D3;
}
.THIS .online {
    background: #7EDB67;
}
.THIS .away {
    background: #F8F094;
}

.THIS .slds-badge {
    margin-top: 2px;
}

.THIS .slds-badge+.slds-badge {
    margin-right: .5rem;
    margin-left: 0rem;
}